<link href="~/Content/preparation.css" rel="stylesheet" />
@{
    ViewBag.Title = "Участници";
}
<div class="row preparation-content">
    <div class="col-md-4">
        <div class="preparation-text-content">
            <h2>Political turmoil</h2>
            <div>
                <p>
                    Brazil’s congress voted last Sunday to impeach the president, Dilma Rousseff, on allegations that she manipulated government accounts before her re-election in 2014. Rousseff – who lost the vote against her by 367 to 137 – could be forced to step aside for 180 days, although she has denounced the impeachment to the United Nations and many Brazilian politicians have also been implicated in a corruption scandal involving the part-state-owned oil company Petrobras.
                    It is against this turbulent backdrop that the 2016 Olympics will take place, two years after Brazil hosted a World Cup marred by protests in numerous cities against stadium costs, corruption and the eviction of people from their favela homes. Brazil’s economy is in a torrid state and in the grip of a serious recession, with GDP having shrunk significantly and millions of people taking to the street in recent weeks to protest against the government. Deaths on collapsed Rio de Janeiro bike path deal safety blow to Olympic host Read more.
                </p>
            </div>
            <hr/>
            <h2>Infrastructure race</h2>
            <div>
                <p>
                    Against this troubled backdrop Olympic preparations are still progressing as Brazil desperately
                    attempts to ensure that all venues and transport links are completed before the opening ceremony
                    at the Maracanã stadium, on 5 August. Of major concern has been the metro extension intended to connect
                    the Olympic Park in Barra de Tijuca with the rest of the city. It has not been finished,
                    although officials claim it will be ready for the completion deadline on 1 July and will
                    transport more than 300,000 people each day and significantly alleviate traffic problems in Rio.
                    On Thursday an elevated cycle path over the sea, built for the Games at a cost of £8m, collapsed
                    and killed at least two people, with the cause unknown. However, the president of the organising
                    committee, Carlos Nuzman, has previously maintained that the country will deliver a “spectacular Games”
                    and that the political and economic woe will not affect the event. According to the city’s website,
                    the velodrome is only 83% completed because of probleмs in laying the track, while the tennis centre
                    is 90% ready. The overwhelming majority of venues, though, are on course.
                </p>
            </div>
            <hr/>
            <h2>Zika concerns</h2>
            <div>
                <p>
                    The mosquito-borne virus that has spread across many countries in South and Central America has caused serious concern in Brazil. British athletes preparing to compete at the Games have been issued with guidance on dangers and prevention. There is no vaccination for Zika, which can lead to babies being born with underdeveloped brains, and the World Health Organisation has declared the outbreak a global public health emergency with an estimated 1.5 million people infected.
                    However, the International Olympic Committee is confident that the Games will not be affected by the virus and organisers are hopeful that the dryer, cooler climate in August – Brazil’s winter – will help ease the problem. Officials say stagnant water at venues is being drained and that possible mosquito breeding grounds will be eliminated by medical experts. It remains to be seen if any athletes deem the situation so serious in the coming months that they decide not to compete. Rio 2016 Olympic flame is lit at temple of Hera in Greece.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="preparation-text-content">
            <h2>Pollution at sailing venue</h2>
            <div>
                <p>
                    Arguably of more concern for some competitors will be the water pollution at Guanabara Bay, where the sailing events will be held. The bay is overlooked by Rio’s Sugarloaf Mountain and Christ the Redeemer statue which will undoubtedly provide an impressive backdrop for the cameras and spectators, but for a number of years the bay is where much of the city’s sewage and rubbish has been dumped. The former chief executive of World Sailing, Peter Sowrey, claims he was fired after trying to move Olympic sailing to Búzios, a coastal resort about 100 miles from Rio, because of the pollution, saying he was “told to gag myself on the subject”.
                    When Rio won the right to stage the Games, it pledged to clean up its waterways but independent testing of locations where sailing, rowing, canoeing and open-water swimming will be held show the presence of disease-causing viruses at levels thousands of times above what would be acceptable in European or United States waters.
                </p>
            </div>
            <hr/>
            <h2>Ticket sales and local apathy</h2>
            <div>
                <p>
                    Advertisement Around half of the 7.5m Olympic tickets remain unsold, with the Paralympic Games sales having barely got off the ground. The Zika virus could be a factor in the low level of foreign purchases but a major issue has been domestic apathy. At the beginning of April the new Brazilian sports minister, Ricardo Leyser, was quoted as saying “there is a perception that the Brazilian population has not yet woken up for the Games”, amid suggestions that tickets could be given to school children in an effort to ensure venues are full.
                    Olympic ticket prices range from 40 Brazilian reais (£8) to 4,600 reais (£907), while officials say that Brazilians usually purchase tickets at the last minute and that there will be a late uptake in sales. There has not been the same level of protests as witnessed before the 2014 World Cup but it is fair to say that the Games do not have total support from Brazilians. Evicted residents from the Vila Autódromo favela – making way for the Olympic Park – protested in the streets, while the decision to build the golf course on an Area of Environmental Protection angered local campaigners.
                </p>
            </div>
            <hr/>
            <h2>Russia’s athletics ban</h2>
            <div>
                <p>
                    Away from the domestic troubles, the most intriguing element of the Olympic build-up centres on Russia’s disgraced athletes. An independent report commissioned by the World Anti-Doping Agency (Wada) last year found the country guilty of running a state-sponsored doping programme, resulting in Russian athletes being banned from all international competition by the IAAF in November. It sent a seismic shock wave through the sport that is the Olympic’s blue riband event.
                    Last week Russia announced planned reforms to restore the credibility of its anti-doping system but continues to send out mixed messages. Yesterday its sports minister Vitaly Mutko told Germany’s Der Spiegel that Russia has “done everything” to be reinstated, adding: “Our athletes have the moral right to be in Rio.” A decision on whether to reinstate Russian athletes before the Olympics will be made in Vienna on 17 June by an IAAF taskforce led by the former Wada director Rune Andersen. It will be a huge moment for the IAAF president, Sebastian Coe, and for the sport as a whole. Allowing Russia back in could see the credibility of the Games suffer, yet upholding the ban would cause major political ructions.
                </p>
            </div>
        </div>
    </div>
    <div class="preparation-img-content col-md-4">
        <div>
            <img src="~/Images/Podgotovka 1.jpg"/>
        </div>
        <div>
            <img src="~/Images/Podgotovka 2.jpg"/>
        </div>
        <div>
            <img src="~/Images/Podgotovka 4.jpg"/>
        </div>
        <div>
            <img src="~/Images/Podgotovka 5.jpg"/>
        </div>
    </div>
</div>
<script>
    $("body").css("background-image", "url('../Images/rio_2016_summer_olympics-HD-2.jpg')");
</script>