<link href="~/Content/preparation.css" rel="stylesheet" />
@{
    ViewBag.Title = "Участници";
}
<div class="row preparation-content">
    <div class="post col-md-4">
        <div class="preparation-text-content">
            <h2>Политически сътресения</h2>
            <div>
                <p>
                    Бразилският конгрес е гласувал импинджмънт на бразилския президент, Дилма Русеф, с обвинения,
                    че е манипулирала правителствени сметки преди преизбирането й през 2014г. Русеф, кото загубва
                    вотът срещу нея с 367 на 137 е можело да бъде накаране да отсъпи от политическите си задължения
                    за 180 дена, макар, че е денонсирала импинджмънта пред Обединените Нации и много бразилски политици
                    също са били обвинени в корупционни скандали с частично държавно притежаваната петролна компания
                    „Петробрас“. Именно на този урболентен фон ще се състоят Олимпийските игри през 2016, две години
                    след като бразилия е домакин на Световното първенство по футбол, което пък беше белязано с протести в
                    много градове срещу разходите по строителството на стадионите, корупция и изгонването на хора от техните
                    домове. Бразилската икономика е в лошо състояние и в хватката на сериозна рецесия с брутен вътрешен
                    продукт, който се е смалил значително, непосредствено преди олимпиадата милиони хора са излезнали да
                    протестират по улиците срещу правителстото. Смъртните случаи причинени от пропадането на колоездната
                    алея в Рио де Женейра е още един шрапнел в лицето на олимпииския домакин засягайски безопасността около
                    олимпиадата.
                </p>
            </div>
            <hr />
            <h2>Инфраструктурна надпревара</h2>
            <div>
                <p>
                    На фона на останалите политически и икономически проблеми бразилските приготовления за олимпиадата продължавали
                    докато Бразилия прави отчаяни опити да подсигури всички спортни съоръжения и транспортни връзки и да бъдат довършени
                    преди церемонията по откриването на стадион Маракана на 5-ти август. Основна грижа е било удължаването на метрото,
                    което трябва да свърже Олимпийския Парк в Бара де Тихука с останалата част на града. Удължаването на метрото е било
                    далеч от довършено, макара и властите да са твърдяли, че ще ще бъде готово до крания срок 1-и юли и, че ще транспортира
                    повече от 300,000 човека на ден, което пък значително е повишило проблема с трафика в Рио. Колоезден път преминаващ над
                    морето построен за игрите на стойност £8м се срутва без видима причина и убива поне 2-ма диши. Въпреки това президентът
                    на организационния комитет, Карлос Нузман, твърди, че страната ще осигури зрелищни игри и, че политическата и
                    икономическа рана няма да се отрази на събитието. Според уеб страницата на града велодрома е само на 83% завършен
                    заради проблеми с полагането на трасето, докато тенис центъра е на 90% завършен. Въпреки това по-голямвата част
                    на спортните съоръжения са били на път на бъдата довършени на 100%.
                </p>
            </div>
            <hr />
            <h2>Притеснения около вирусът Зика</h2>
            <div>
                <p>
                    Вирусът, който се пренася от комари, и който се е пренесъл в много държави в Южна и Централна Америка е
                    предизвикал сериозни опасения в Бразилия. Британските атлети, които са се готвели да се състезават са в
                    игрите са получили насоки и указания за опасностите и тяхното възпрепятстване. ЗА вирусът Зика ваксинации
                    няма, кото може да доведе до бебета да бъдат родени с недоразвито мозъчно вещество и Световната Здравна
                    Организация е обявила налагането на извънредна ситуация на световно ниво с прогнозирани 1.5 милиона заразени души.
                    Въпреки това Международният Олимпийски комитет е убеден, че игрите няма да бъдат засегнати от виуса и организаторите
                    се надяват, че по-сухият и студен климат през август (Бразилската зима) ще спомогне за улесненото решение на проблема.
                    Официалните власти твърдят, че нетечащата вода около спортните съоръжения е източена и, че възможните места за
                    разъждането на комари ще бъдат елиминирани от медицински екперти. Предстои да видим дали някои атлети ще счетат
                    ситуацията за толкова сериозна, че през идните месеци, че щерешат да не се състезават.
                </p>
            </div>
        </div>
    </div>
    <div class="post col-md-4">
        <div class="preparation-text-content">
            <h2>Замърсяване във водните спортни съоръжения</h2>
            <div>
                <p>
                    За момента от по-голямо притеснение за някои участици ще бъде замърсяването на водат в
                    заливът Гуанабара където ще се състоят плавателните съзтезания на олимпиадата. Към заливът
                    гледа планината Шугърлоф и Статуята на Христос Спасителя, което без съмнение допринася
                    за впечатляващ фон за камерите и публиката, но от редица година заливът е мястото където
                    по-голямата част от градската канализация се изсипва и се изспва боклук. Бившият прецедал
                    на Световната Федерация по Плаване, Питър Соулри, твърди, ч е ебил уволнен след като се е
                    опитал да премести олимпийското плаване в Бузиос, моркси курорт на около 100 мили от Рио,
                    заради замърсяването, казвайки, че „да замъляи относно темата“. Когато Рио печели правото
                    да приеме Олимпийските Игри се наемада почисти водните си пътища, но независимо изследване
                    на местата където ще се състои плавани, гребани, кану-каяк и плуване в отворени води показва
                    наличието на болестотворни вируси в хиляди пъти над приемливото ниво в Европейските води и
                    водите на САЩ.
                </p>
            </div>
            <hr />
            <h2>Продажби на билети и местна апатия</h2>
            <div>
                <p>
                    7.5 милиона от олимпийките билети остават непродадени като от тези за параолимпийските игри почти
                    нищо не е продадено. Вирусът Зика може да е фактор в ниското ниво на закупени билети от чужденци,
                    но основен проблем е местната апатия. В началото на април новото бразилски спортен министър,
                    Рикардо Лейсер, се изказва, че „за момента все още е възприето, че бразилското население все още
                    не се е събудило за Игрите“, докато има преложение, че билети могат да се дават на ученици в опит
                    да се осигуро запълването на спортните съоръжения. Цената на един билет за Олимпийските игри варира
                    между 40 бразилски реала (8 паунда) до 4,600 реала (907 паинда), докато експерти казват, че бразилците
                    обикновено купуват билети в последната минута и, че ще има закъснял пик в купуването на билети. Не е
                    имало толкова много протести колкото е наблюдавано преди Световното първенство по футбол през 2014,
                    но може да се каже, че Игрите нямат абсолютната подкрепа на бразилците. Изгонените живущи от Вила
                    Аутодромо Фавела, за да бъде направено място за Олимпийския парк, са протестирали по улиците, докато
                    друг случай на взимане на решение да бъде построено голфигрище на природно защитено място е вбесило
                    местните включени в кампанията.
                </p>
            </div>
            <hr />
            <h2>Забраната наложени над руските атлети</h2>
            <div>
                <p>
                    Далеч от местните бразилски проблеми най-интригуващия елемент от натрупаното напрежение около
                    руските опозорени ателти. Независим отечет на Световната Анти-допингова агенция миналата година
                    е обвинила Русия в провеждането на държавно финансирана допингова програма, заради която на всички
                    руски атлети им е било забранено да участват в всякакви международни състезания считано от Ноември
                    миналата година. Това опраща сеизмична вълна в спортното пространство. Русия е анонсирала, че
                    планира реформи да възстанови правдоподобността на нейната анти допингова система, но продължава
                    да изпраща смесени сигнали. Руският министър на спорта Витали Мутко казва на германския вестник
                    „Дер Шигел“, че Русия е „направила всичко“ да бъде възстановено доверието, като добавя: „Нашите
                    атлети имат моралното право да бъдат в Рио“. Решението за това дали да възстановено доверието
                    към руските атлети преди Олимпийските игри е направено във Виена на 17юни от Международната
                    Асоцияция на Федерациите по Атлетика (МАФА) воден от бившия директо на Световната Анти-допингова
                    Организация Руне Андерсен. Това е било голям момент за Себастиен Ко и за спорта като цяло. Да се
                    допусне Русия обратно може да да нарани правдоподобността на Игрите, но въпреки това ако се остави
                    забраната може да има големи политическиреакции.
                </p>
            </div>
        </div>
    </div>
    <div class="preparation-img-content col-md-4">
        <div>
            <img src="~/Images/Podgotovka 1.jpg" />
        </div>
        <div>
            <img src="~/Images/Podgotovka 2.jpg" />
        </div>
        <div>
            <img src="~/Images/Podgotovka 4.jpg" />
        </div>
        <div>
            <img src="~/Images/Podgotovka 5.jpg" />
        </div>
    </div>
</div>
<script>
    $("body").css("background-image", "url('../Images/rio_2016_summer_olympics-HD-2.jpg')");
</script>