<link href="~/Content/preparation.css" rel="stylesheet" />
@{
    ViewBag.Title = "Участници";
}
<div class="row preparation-content">
    <div class="post col-md-4">
        <div class="preparation-text-content">
            <h2>Политически сътресения</h2>
            <div>
                <p>
                    Бразилският конгрес гласува миналата неделя за импийчмънт на президента, Дилма Русеф, по обвинения, че тя манипулирани държавни сметки, преди да й бъде преизбран през 2014 г. Русеф - който загуби вота срещу нея от 367 до 137 - може да бъде принуден да се оттегли в продължение на 180 дни , въпреки че тя е денонсиран импийчмънт на Организацията на обединените нации и много бразилски политици също са били замесени в корупционен скандал с участието на месечната държавна петролна компания Petrobras. Именно на този бурен фон, които ще се проведат Олимпийските игри през 2016 г., две години след като Бразилия бе домакин на Световната купа помрачена от протести в редица градове срещу стадион разходи, корупцията и извеждането на хората от техните Фавела домове. Икономиката на Бразилия е в горещ състояние и в хватката на сериозна рецесия, с БВП като свил значително и милиони хора, които приемат на улицата през последните седмици, за да протестират срещу правителството. Смъртните случаи по срина Рио де Жанейро велосипед пътя удар безопасността сделка за олимпийски домакин.
                </p>
            </div>
            <hr/>
            <h2>Проблеми с инфраструктурата</h2>
            <div>
                <p>
                    На този проблемен фон Олимпийските организатори все още напредват, като Бразилия отчаяно се опитва да се гарантира, че всички места и транспортни връзки са завършени преди церемонията по откриването на стадион Маракана, на 5 август. От основна грижа е била за разширение на метрото, предназначен за свързване на олимпийския парк в Barra де Тижука с останалата част на града. Той не е завършен, въпреки че служители твърдят, че той ще бъде готов за крайния срок за завършване на 1 юли и ще транспортира повече от 300,000 души всеки ден и значително облекчаване на проблемите с трафика в Рио. В четвъртък повишена велоалея над морето, построен за игрите на цена от £ осем метра, се срути и уби най-малко двама души, с причината е неизвестна. Въпреки това, президентът на организационния комитет, Carlos Nuzman, поддържа по-рано, че страната ще изнесе "зрелищни игри" и че политическата и икономическата горкото няма да се отрази събитието. Според уебсайта на града, на Велодром е само 83% завършена, защото на probleмs в полагане на пистата, а центъра на тенис е 90% готов. По-голямата част от местата, обаче, са на път.
                </p>
            </div>
            <hr/>
            <h2>Вирусът Зика</h2>
            <div>
                <p>
                    Вирусът пренасян от комари се е разпространил в много страни в Южна и Централна Америка и е причина за сериозна загриженост в Бразилия. Британските спортисти се подготвят да се състезават на Игрите са издадени с указания за опасности и превенция. Не е ваксинация за Жика, което може да доведе до бебета се раждат с недоразвити мозъци, и на Световната здравна организация е обявила избухването на глобалната общественото здраве аварийно с прогнозна 1,5 милиона души, заразени. Въпреки това, на Международния олимпийски комитет е уверен, че Игрите, няма да бъдат засегнати от вируса и организаторите се надяват, че сушилнята, охладител климат през август - Бразилия зимата - ще спомогне за облекчаване на проблема. Властите твърдят, застояла вода на места се оттича и че е възможно комари основания за разплод, ще бъдат елиминирани от медицински експерти. Остава да се види дали всички спортисти преценят ситуацията така сериозно през следващите месеци, че те не решат да се конкурират. Рио 2016 олимпийския пламък свети в храма на Хера в Гърция.
                </p>
            </div>
        </div>
    </div>
    <div class="post col-md-4">
        <div class="preparation-text-content">
            <h2>Замърсяване на водите</h2>
            <div>
                <p>
                    Може да се каже на повече загриженост за някои конкуренти ще бъде замърсяването на водите в залива Гуанабара, където ще се проведе събития състезателните. Заливът е пренебрегван от Захарната глава и Христос в Рио Изкупителя статуя, която несъмнено ще осигури впечатляващ фон за камерите и зрителите, но в продължение на няколко години заливът е, когато голяма част от канализацията и боклука на града са изхвърлени. Бившият изпълнителен директор на Световната ветроходство, Peter Sowrey, твърди той беше уволнен, след като се опитва да се движи олимпийски ветроходни да Búzios, крайбрежен курорт на около 100 мили от Рио, заради замърсяването, като каза, че е "казал да си запуши устата на тема" , Когато Рио спечели правото да организира Игрите, той обеща да почисти своите пътища, но независимо тестване на местата, където ще се проведе ветроходство, гребане, кану-каяк и плуване в открити води, показват наличие на вируси, причиняващи заболяване на нива, хиляди пъти по-горе това, което би било приемливо в европейските или американските води.
                </p>
            </div>
            <hr/>
            <h2>Продажба на билети</h2>
            <div>
                <p>
                    Около половината от Олимпийските билети - 7,5 милиона остават непродадени, с продажбите на параолимпийските игри, които имат едва слязоха на земята. Вирусът Жика може да бъде фактор в ниското ниво на чуждестранни покупки, но основен проблем е вътрешното апатия. В началото на месец април на новия бразилски спортен министър, Рикардо Leyser, бе цитиран да казва "съществува усещането, че на бразилската популация все още не е събудил за игрите", на фона на предположенията, че билети могат да бъдат дадени на децата в училище в опит за да се осигури места са пълни. Олимпийските цените на билетите варират от 40 бразилски реала (£ 8) до 4600 реала (£ 907), докато служители казват че бразилците обикновено купуват билети в последния момент и че няма да има закъсняло поемане на продажбите. Не е имало същото ниво на протести като свидетел преди Мондиал 2014, но е справедливо да се каже, че Игрите не разполагат с обща подкрепа от бразилците. Изгонени жители от Vila Autodromo фавела на - вземане на пътя за Олимпийския парк - протестираха по улиците, докато решението за изграждане на голф игрище на площ от опазване на околната среда разгневи местните активисти.
                </p>
            </div>
            <hr/>
            <h2>Състезателите на Русия</h2>
            <div>
                <p>
                    Далеч от вътрешните проблеми, най-интригуващ елемент на Олимпийските застроени центрове на опозорен спортисти на Русия. Един независим доклад, поръчан от Световната антидопингова агенция (WADA) миналата година установи, страната виновен за изпълнение на програма, спонсорирана от държава допинг, в резултат на руските атлети са били забранени от всички международна конкуренция от страна на ИААФ през ноември. Той изпрати сеизмична вълна шок чрез спорт, който е син панделка събитие олимпийските си. Миналата седмица Русия обяви планирани реформи, за да се възстанови доверието на своята антидопингова система, но продължава да изпраща смесени послания. Вчера своя министър на спорта Виталий Мутко каза германският Der Spiegel, че Русия е "направил всичко", за да бъде възстановен, като добави: "Нашите спортисти имат моралното право да бъде в Рио." Решението дали да възстанови руските спортисти, преди да бъдат направени на Олимпиадата във Виена на 17 юни от работна група IAAF, водена от бившия директор Уада Rune Андерсен. Това ще бъде огромен момент за президент на ИААФ, Себастиан Коу, и за спорта като цяло. Разрешаването на Русия обратно в виждах доверието на Игрите страдат, все още държейки забраната ще доведе до големи политически препирни.
                </p>
            </div>
        </div>
    </div>
    <div class="preparation-img-content col-md-4">
        <div>
            <img src="~/Images/Podgotovka 1.jpg"/>
        </div>
        <div>
            <img src="~/Images/Podgotovka 2.jpg"/>
        </div>
        <div>
            <img src="~/Images/Podgotovka 4.jpg"/>
        </div>
        <div>
            <img src="~/Images/Podgotovka 5.jpg"/>
        </div>
    </div>
</div>
<script>
    $("body").css("background-image", "url('../Images/rio_2016_summer_olympics-HD-2.jpg')");
</script>