<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <th>Държава</th>
            <th>Златни медали</th>
            <th>Обшо медали</th>
        </tr>
        <tr>
            <td>САЩ </td>
            <td>16</td>
            <td>38</td>
        </tr>
        <tr>
            <td>Китай </td>
            <td>11</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Япония </td>
            <td>7</td>
            <td>22</td>
        </tr>

        <tr>
            <td>Австралия </td>
            <td>5</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Република Корея</td>
            <td>5</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Унгария </td>
            <td>5</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Русия </td>
            <td>4</td>
            <td>19</td>
        </tr>
        <tr>
            <td>Великобритания </td>
            <td>4</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Германия </td>
            <td>4</td>
            <td>18</td>
        </tr>
        <tr>
            <td>Италия </td>
            <td>3</td>
            <td>12</td>
        </tr>
    </table>

</body>
</html>
