@model MVCBlog.Models.Photoalbum
@{
    ViewBag.Title = "Delete";
}
<body class="body-posts">
    <h2>Изтриване на пост</h2>

    <h3>Сигурни ли сте, че желаете да изтриете това?</h3>
    <div> 
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData, 0, Model.ImageData.Length) " width="250" height="250" />
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Изтрий" class="btn btn-default" /> |
                @Html.ActionLink("Обратно към снимки", "Index")
            </div>
        }
</body>
