@model MVCBlog.Models.Photoalbum
@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване на пост</h2>

<h3>Сигурни ли сте, че желаете да изтриете това?</h3>
<div>
    <h4>Пост</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.ImageData)
        </dt>

