.preparation-img-content > div > img {
    width: 100%;
    margin-bottom: 29px;
}
.preparation-text-content {
    background-color: #F1F6B7;
    padding-left: 15px;
    padding-right: 15px;
}
.preparation-content {
    padding: 10px;
}
.preparation-img-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
